
<footer class="footerContainer">
    <div class="grupo1">
        <div class="cajaFooter">
            <h5>TAMBIEN NOS PODES CONTACTAR EN</h5>
            <div class="redes">
                <a target="_blank" href="https://www.instagram.com/" class="fa fa-instagram"></a>
                <a target="_blank" href="https://www.facebook.com/" class="fa fa-facebook"></a>
                <a target="_blank" href="https://www.whatsapp.com/?lang=es_LA" class="fa fa-whatsapp"></a>
            </div>
        </div>
    </div>
    <div class="grupo2">
        <small>&copy; 2024 - Todos los Derechos Reservados.</small>
    </div>
</footer>